@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "New Order";
}
@model BDAvance.Models.OrderViewModel

<h2>New Order</h2>

<div>
    <ul>
        <li>Customer Id : @Model.CustomerId</li>
        <li>Abricot : @Model.Abricot</li>
        <li>Banane : @Model.Banane</li>
        <li>Cerise : @Model.Cerise</li>
        <li>Fraise : @Model.Fraise</li>
        <li>Kiwi : @Model.Kiwi</li>
        <li>Framboise : @Model.Framboise</li>
        <li>Groseille : @Model.Groseille</li>
        <li>Prune : @Model.Prune</li>

    </ul>
    
</div>

